# macOS
.DS_Store

# Build directories
build/
bin/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio Code
.vscode/

# Xcode (if applicable)
DerivedData/

# Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app
